.git
.github
.idea
.local
**/.DS_Store
**/*.iml
**/*.log
**/*.pid
**/target/
**/.vite/
**/coverage/

.env
.env.*
!.env.example

wms-console/node_modules/
wms-console/dist/

docs/
*.md
!wms-console/README.md
